*.pyc
*.ipynb
*.bak*
*.dev*
*.prod*
*.pkl
.ipynb_checkpoints/
.vscode/
__pycache__/
dev/
build/
dist/
data/
.pytest_cache
*.csv
.env
tmp/
*.mp4
*.pytest_cache
.cache/
.gnupg/
.ipython/
.jupyter/
.keras/
.local/
.bash_history
.bash_logout
.bashrc
.profile
.gitconfig
.vscode-server
*.pb
